{% block javascript %}
<script>
    function toggle() {
        var checkBox = document.getElementById("country_code");
        var dropDown = document.getElementById("dropdown");
        const urlParams = new URLSearchParams(window.location.search);
        if (checkBox.checked == true) {
            dropDown.style.display = "inline";
            document.getElementById("selected").value = "True";
            urlParams.set('selected', 'true');
        } else {
            dropDown.style.display = "none";
            document.getElementById("selected").value = "False"
            urlParams.set('selected', 'false');
        }
        window.location.search = urlParams
    }

</script>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>openweathermap.org API wrapper</title>
</head>
<body>
{% for line in direction %}
    {{ line }}
    <br>
{% endfor %}
<form id="form" method="post">
    
    <input type="checkbox" id="country_code" name="country_code" onclick="toggle()" {% if request.query_params['selected'] == 'true' %} checked {% endif %}>

    <label for="country_code">Enable country code dropdown</label><br>

    <input type="zipcode" name="zip" value="{{ zip }}" />
     
    <p id="dropdown" {% if request.query_params['selected'] == 'true' %} style="display:inline;" {% else %} style="display:none;" {% endif %}>   
        <select id="country_codes" name="country_codes" border="1">
            {% for country_alpha2 in countries %}
            <option value="{{ country_alpha2['code'] }}">{{ country_alpha2['name'] }}</option>
            {% endfor %}
        </select>
    </p>

    <input type="submit">
    <input type="hidden" id="selected" name="selected_state" value="{{ selected }}" />
</form>
    {% if result is defined and result['Titles']|length > 0 %}
    <table style="width: 100%;", border="0">
        {% for item in result['Titles'] %}
            <th style="text-align: left;">{{item}}</th>
        {% endfor %}

        {% for item in result['Days'] %}    
            <tr>               
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>                            
            </tr>
        {% endfor %}
    </table>
    {% else %}
        {{ result }}
    {% endif %}
</body>
</html>